.yellow-ligne{
    background-color: #ffd233; 
    height: 5px;
}
.blak-ligne{
    background-color: #000;
    height: 15px;
}
.red-line{
    background-color: red;
    height: 2px;
}
.card{
    border-radius: none !important;
    border: none !important;
    background-color: #ffd233 !important;
}
.blak-ligne{
    background-color: #000;
    height: 100px;
}
.chaima{
    width: 100%;
}

.h1{
    color: aqua;
}
.font{
    background-color: coral;
}
   